.ColumnProduct {
   border: 1px solid #c3c3c3;
   border-radius: 8px;
   overflow: hidden;
   position: relative;
   width: 250px;
   box-sizing: border-box;
   box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
   transform: translateY(0px);
   transition: transform 0.2s ease;
}

.ColumnProduct:hover {
   transform: translateY(-5px);
}

.ColumnProduct .Image {
   background-color: #000000;
   border: 0px solid blue;
   height: 280px;
   width: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.ColumnProduct .Image img {
    width: 100%;
 }
 
 .ColumnProduct .BookDetails {
   background-color: #ffffff;
   border: 0px solid green;
   padding: 15px 20px;
 }
 

 