.body {
    box-sizing: border-box !important;
}

.SearchResults {
    box-sizing: border-box;
    width: 100%; 
    height:fit-content;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    /*padding-top: 30px; */
    position: relative; 
    align-items: center; 
}

.SearchResults .Products {
    border: 0px solid blue;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 25px;
    width: fit-content;
    height: fit-content;
    /* padding: 75px 25px; */
    padding: 85px 25px 25px 25px; 
    position: relative;
}

.SearchResults .Heading {
    position: absolute;
    border: 0px solid red;
    top: 10px;
    width: 100%;
    padding: 5px 25px;
}

@media screen and (max-width:1300px) {
    .Products {
        grid-template-columns: auto auto auto;   
    }
}
